body {
  margin: 0;
  background-color: #fafafa;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #242424;
  }
}

#graph {
  text-align: center;
}

#graph > svg {
  display: flex;
}
