/* DragOverlay */

dragoverlay {
  box-shadow: none;
}

dragoverlay .drag-area-highlight {
  border-radius: 8px;
  background-color: alpha(var(--blue-2), 0.35);
  margin: 24px;
}

/* RecentPopover */

.recent-popover contents {
  padding: 0;
}

.recent-popover list {
  border-radius: 6px;
  margin: 3px 6px;
  background: none;
}

.recent-popover list row {
  padding: 9px;
  padding-left: 15px;

  border-radius: 6px;
  margin-top: 3px;
  margin-bottom: 3px;
}
